#quadrado{
width: 50vw;
height: 50vh;
background-color: red;



}





#segundoQuadrado{
    width: 50vw;
    height: 50vh;
    background-color: rebeccapurple;
    
    

}

#calculos{
    width: 50vw;
    height: 50vh;
    background-color: gold


}

#cotacao{
    width: 50vw;
    height: 50vh;
    background-color: firebrick;



}

#abastecimento{
    width: 50vw;
    height: 50vh;
    background-color: pink;



}


#temperatura{
    width: 50vw;
    height: 50vh;
    background-color: orange;



}

#volume{
    width: 50vw;
    height: 50vh;
    background-color: yellow;
    


}

#prestacao{
    width: 50vw;
    height: 50vh;
    background-color: blue;


}


#milionario{
    width: 50vw;
    height: 50vh;
    background-color: green;



}
#resultado1{
    display:none;
}
#resultado2{
    display:none;
}

#resultMult{
    display:none;
}
#resultSoma{
    display:none;
}

#conversao{
    display:none;
}

#abastecido{
    display:none;
}
#resultado6{
    display:none;
}
#resultado7{
    display:none;
}
#resultado8{
    display:none;
}
#resultado9{
    display:none;
}
#resultado10{
    display:none;
}
